<!DOCTYPE html />
<html ng-app="app">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css' />
    
    <!-- Libraries -->
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/components/angular-resource/angular-resource.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  </head>
  <body>
    {{{body}}}
  </body>
</html>
